:root {
    --primary: rgb(17, 17, 17);
    --secondary: rgb(239, 236, 216);
    --active: #ff9500;
    --body-bg: rgb(255, 255, 255);
    --header-bg: rgb(255, 255, 255);
    --article-bg: rgb(239, 236, 216);
    --section-bg: rgb(223, 220, 220);
    --footer-bg: rgb(255, 255, 255);
    --borderRadius: 1rem;
    --padding-left: 2em;
    --shadow: 0px 3px 5px 0px rgb(170, 170, 170);
}

/* H1 & H2 font */
@font-face { 
    font-family: DM Serif Display Regular;
    src: url(fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

/* H3 font */
@font-face { 
    font-family: Poppins Medium;
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}

/* body font */
@font-face {
    font-family: Open Sans Regular;
    src: url(fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open Sans Bold;
    src: url(fonts/OpenSans/OpenSans-Bold.ttf);
}

/* H4 font */
@font-face {
    font-family: Poppins Light Italic;
    src: url(fonts/Poppins/Poppins-LightItalic.ttf);
}

@font-face{
    font-family: Open Sans Semibold;
    src: url(fonts/OpenSans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: Open Sans Bold Italic;
    src: url(fonts/OpenSans/OpenSans-BoldItalic.ttf);
}

@font-face{
    font-family: Open Sans Semibold Italic;
    src: url(fonts/OpenSans/OpenSans-SemiboldItalic.ttf);
}

@font-face {
    font-family: 'CC-ICONS';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/cc-icons.ttf') format('truetype');
}


*, *::before, *::after {
    box-sizing: border-box;
  }


body {
    font-family: Open Sans Regular;
    background-color: var(--body-bg);
    line-height: 1.5em;
    margin: 0 2.5em;
}

h1 {
    font-family: DM Serif Display Regular;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.3em;
}

header {
    background-color: var(--header-bg);
    padding: 0 0;
}

header p {
   margin-top: -1.2em;
   letter-spacing: .15em;
   text-transform: uppercase;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    /* background-color: var(--secondary); */
    /* padding: 0 2em 2em 3em; */
    margin: 0 0 3em 0;
}


h2 {
    grid-column: 1 / -1;
    margin: .5em 0 0 0;
    font-family: DM Serif Display Regular;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.3em; 
}

article {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--article-bg);
    padding: 2em 2em 2em 2em;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

h3 {
    font-family: Poppins Medium;
    font-size: 1.2em;
    line-height: 1.3em;
}

h4 {
    font-family: Poppins Light Italic;
    font-size: 1em;
    margin-bottom: 0.1em;
    margin-top: -.8em;
}


ul {
    list-style-type: none;
    padding: 0px;
}

/* section.social-media article ul li {
    margin-top: 1em;
    margin-left: auto;
} */

a {
    display: block;
    font-size: 1em;
    text-decoration: none;
    background-color: var(--article-bg);
    border-radius: .5em;;
    color: var(--primary);
    border: 2px solid var(--primary);
    width: max-content;
    padding: .2em .5em .2em .5em;
}

article a {
    margin-top: auto;
    align-self: end;
}


section.social-media article ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section.social-media article ul a {
    margin: 1em 1em 1em 1em;
    align-self: start;
}

a:hover {
    color: var(--secondary);
    background-color: var(--primary);
}

a:active {
    background-color: var(--active);
}

footer {
    margin-top: -1em;
}

footer ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    letter-spacing: 0.2em;
    background-color: var(--footer-bg);
}


footer ul li:first-of-type{
    font-family: 'CC-ICONS';
    font-size: 1.4em;
    line-height: 1em;
    letter-spacing: 0.3em;
    margin: .7em 0;
    letter-spacing: 0.1em;
}   

footer ul li {
    margin: 1em 1em;
    letter-spacing: 0.1em;
}

footer a {
    text-decoration: none;
}


