:root {
    --primary: rgb(17, 17, 17);
    --secondary: rgb(246, 238, 233);
    --background: rgb(10, 10, 10);
    --active: #ff9500;
    --article-bg: rgb(255, 255, 255);
    --section-bg: rgb(223, 220, 220);
    --footer-bg: rgb(255, 255, 255);
    --borderRadius: 1rem;
}

/* H1 & H2 font */
@font-face { 
    font-family: DM Serif Display Regular;
    src: url(fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

/* H3 font */
@font-face { 
    font-family: Poppins Medium;
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}

/* body font */
@font-face {
    font-family: Open Sans Regular;
    src: url(fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open Sans Bold;
    src: url(fonts/OpenSans/OpenSans-Bold.ttf);
}

/* H4 font */
@font-face {
    font-family: Poppins Light Italic;
    src: url(fonts/Poppins/Poppins-LightItalic.ttf);
}

@font-face{
    font-family: Open Sans Semibold;
    src: url(fonts/OpenSans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: Open Sans Bold Italic;
    src: url(fonts/OpenSans/OpenSans-BoldItalic.ttf);
}

@font-face{
    font-family: Open Sans Semibold Italic;
    src: url(fonts/OpenSans/OpenSans-SemiboldItalic.ttf);
}

@font-face {
    font-family: 'CC-ICONS';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/cc-icons.ttf') format('truetype');
}


*, *::before, *::after {
    box-sizing: border-box;
  }


body {
    font-family: Open Sans Regular;
    background-color: var(--body-background);
    line-height: 1.5em;
    padding: 0 2em;
}

h1 {
    font-family: DM Serif Display Regular;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.3em;
    margin-bottom: -0.2em;
}

header p {
   letter-spacing: .15em;
   text-transform: uppercase;
   margin-top: .2em;
}


h2 {
    font-family: DM Serif Display Regular;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.3em;
}

h3 {
    font-family: Poppins Medium;
    font-size: 1.2em;
    line-height: 1.3em;
}

h4 {
    font-family: Poppins Light Italic;
    font-size: 1em;
    margin-bottom: 0.1em;
    margin-top: -.8em;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}


article {
    background-color: var(--secondary);
    margin-bottom: 1em;
    padding: 1.3rem;
    /* border-radius: 0.4rem; */
    box-shadow: 0px 3px 5px 0px rgb(170, 170, 170);
}


ul {
    list-style-type: none;
    padding: 0px;
}

a {
    display: block;
    font-size: 1em;
    text-decoration: none;
    color: var(--primary);
    /* background-color: var(--secondary); */
    border: 2px solid var(--primary);

    width: max-content;
    padding: .2em .5em .2em .5em;
    margin-top: 1em;
}

a:hover {
    color: var(--secondary);
    background-color: var(--primary);
}

a:active {
    background-color: var(--active);
}

footer {
    background-color: var(--footer-bg);
    width: fit-content;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.3em;
    font-family: 'CC-ICONS';
    color: var(--dark);
}   

footer a {
    text-decoration: none;
}


